input[type="text"], input[type="password"], textarea {
    width: 250px;
}

textarea {
    height: 100px;
}

td {
    vertical-align: top;
}

#body-content {
    width: 1100px;
    margin-left: 5%;
}

#post-add-link {
    cursor: pointer;
}

input[type="button"] {
    width: 60px;
}

.fave-fave, .fave-nofave {
      width: 20px;
}

