input[type="text"], input[type="password"], textarea {
    width: 250px;
}

textarea {
    height: 100px;
}

td {
    vertical-align: top;
}

#body-content {
    width: 1000px;
    margin-left: 5%;
}

#post-add-link {
    cursor: pointer;
}

input[type="button"] {
    width: 70px;
}
