<Files about>
    SetHandler application/x-httpd-php
</Files>

<Files contact>
    SetHandler application/x-httpd-php
</Files>

<Files post>
    SetHandler application/x-httpd-php
</Files>

<Files view>
    SetHandler application/x-httpd-php
</Files>

ErrorDocument 404 /

