body {
    font-family: arial;
    font-size: 18px;
    background: #fff;
    color: #292727;
    margin: 0px;
}

a {
    color: #292727;
    text-decoration: none;
}

#menu {
    margin: 5px;
    text-align: center;
    font-variant: small-caps;
}

#menu ul {
    margin-left: 0;
    padding-left: 0;
    display: inline;
} 

#menu ul li {
    margin-left: 20px;
    margin-bottom: 0;
    padding: 2px 15px 5px;
    list-style: none;
    display: inline;
}

#menu ul li.here {
    border-top: 1px solid #4E4E4E;
}

#content {
    padding-top: 12px;
    padding-bottom: 12px;
    background: #f8f8f8;
    padding-left: 20px;
}

.round {
    font-size: 16px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    border-radius: 10px; /* future proofing */
    margin: 5px;
    padding: 2px;
}

.content-image {
    text-align: center;
}

.content-title {
    font-variant: small-caps;
    padding-top: 10px;
}

.content-picture {
    border: 10px solid #ededed;
}

#logo {
    text-align: center;
}

.clear {
    clear: both;
}

.postby {
    font-size: 12px;
    margin-right: 10px;
    width: 100%;
    text-align: right;
}

.flash-message-success {
    padding: 2px;
    border: 1px solid #e5e5e5;
    background: #f9f9f9;
    width: 100%;
}

.flash-message-error {
    padding: 2px;
    border: 1px solid #e5e5e5;
    background: #f9f9f9;
    width: 100%;
}

.flash-message-image {
    width: 22px;
    float: left;
}

