html, body {
    color: #8a8a8a;
    font: 14px/24px sans-serif;
    margin: 0 auto;
}

a, a:link, a:active, a:visited {
    color: #8a8a8a;
    text-decoration: none;
}

img {
    padding: 10px;
    box-shadow: 0px 2px 5px #888888;
    margin-top: 10px;
    margin-bottom: 10px;
}

#container {
    min-height:100%;
    position:relative;
}

#header {
    margin-top: 0px;
    color: white;
    height: 50px;
    background-color: #646464;
    box-shadow: 0px 2px 5px #888888;
}

.center-image {
    display: block;
    margin-left: auto;
    margin-right: auto
}

/* menu links need to stay white */
#menu a, #menu a:link, #menu a:active, #menu a:visited {
    color: white;
}

#menu {
    text-align: center;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

#menu ul {
    display: inline-block;
}

#menu ul li {
    margin-left: 20px;
    padding: 2px 20px 5px;
    list-style: none;
    display: inline;
}

#body {
    padding:20px;
    padding-bottom:50px;   /* Height of the footer */
}

#body-content {
    margin-left: 10%;
    width: 900px;
    padding: 6px;
    margin-bottom: 10px;
    font-size: 14px;
}

#footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:50px;   /* Height of the footer */
}

/* inside the footer */
#bottom {
    text-align: right;
    width: 98%;
    position: absolute;
    top: 50%;
    margin-top: -10px;
    font-size: 12px;
}

.clear {
    clear: both;
}

input[type="text"], input[type="password"], textarea {
    width: 500px;
}

input[type="submit"] {
    text-align: center;
    width: 200px;
}

.req {
    vertical-align: top;
    color: #ccc;
}

form {
    padding-left: 50px;
}

.contact-question {
    width: 250px;
    float: left;
    margin-bottom: 10px;
}

.contact-answer {
    margin-bottom: 10px;
}

.contact-submit {
    margin-left: 250px;
}

#contact {
    min-height: 600px;
}

/** work around for ie6 */
* html #contact {
    height: 600px;
}

.postby {
    text-align: right;
    width: 100%;
}

.postpagination {
    border-bottom: 1px solid #585858;
}

.previouspost {
    font-size: 14px;
    padding-left: 30px;
    float: left;
}

.nextpost {
    font-size: 14px;
    padding-right: 30px;
    float: right;
}

#comments-toggle {
    cursor: pointer;
}

.comments {
    display: none;
}

#commentform-message {
    display: none;
    font-style:italic;
    color: #4d4d4d;
}

.commentform-desc {
    float: left;
    padding-right: 5px;
    text-align: right;
    width: 150px;
    vertical-align: middle;
}

.commentform-val {
    vertical-align: top;
}

#commentform input[type="text"], #commentform textarea {
    width: 300px;
}

#commentform input[type="button"] {
    width: 150px;
}

.comment-list-pos {
    float: left;
    width: 20px;
}

.comment-list-header {
}

.comment-list {
    padding-bottom: 20px;
}

#galleria{ 
    width: 900px;
    height: 600px;
    background: #000;
}

