<Files user>
    SetHandler application/x-httpd-php
</Files>

<Files admincomments>
    SetHandler application/x-httpd-php
</Files>

<Files adminpost>
    SetHandler application/x-httpd-php
</Files>

<Files adminstats>
    SetHandler application/x-httpd-php
</Files>

ErrorDocument 404 /

